

.signin-form-group{
width: 730px;
height: 90px;
margin-left: 10px;
padding: 15px 35px 35px 45px;
border-color: #000;


}

.card{
width: 480px;
background-color: #ffffff;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
margin: 30px auto 30px auto;

}

#card-body{
	background-color:#fcfbff;
}

.paragraph-header{
padding: 15px 50px 0 25px;
font-size: 30px;
font-weight: 400;
display: inline-block;
width: 100%;
height: 80px;
background-color: #FAB131;


color:white;
}

#inputTextUsername{
width:50%;

}

#inputTextPassword{
width:50%;



}

#inputTextEmail{
width:50%;

}

#inputTextBucket{
width:50%;

}

#inputTextImgUrl{
width:50%;

}

#inputSelectRegion{
width:50%;

}

.form-submit-button{
	width:76%;
display: block;
margin: 50px 50px;
background-color: #FAB131;

}

.form-input-position{
display: inline-block;
}

.email-position-correction{
margin-top: 0;
}