.admin-table{
    width: 100%;
    padding: 15px;
}

.admin-table-content{
    border-radius: 5px;
    background-color: #F8F8FF;
    padding: 5px 10px 0 10px;
    box-shadow: 2px 2px 2px #D3D3D3;
}

.admin-file-list{
    padding: 15px;
}

.admin-file-list-element{
    width: 95%;
    border-bottom: 1px solid #D3D3D3;
    display: flex;
    flex-direction: row;
    height: 30px;
    line-height: 20px;
    margin-top: 10px;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.admin-file-name{
    width: 55%;
    text-align: left;
    padding-left: 30px;
    color: #1E90FF;
}

.admin-file-company{
    width: 30%;
}

.admin-file-link{
    width: 10%;
    margin-left: 10%;
}

.download-icon{
    height: 20px;
    width: auto;
}

.admin-list-header{
    background-color: #F8F8FF;
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
    font-weight: bold;
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 10px 0;
    box-shadow: 2px 2px 2px #D3D3D3;
}

.admin-header-name{
    width: 45%;
    text-align: left;
    padding-left: 70px;
}

.admin-header-company{
    width: 35%;
}

.admin-header-link{
    width: 20%;
}
