 .user-wrapper .user .userinfo{
  flex-grow: 1;
}

 .user-wrapper .user .userinfo .username{
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  margin-top: 250px;
}

.username{
  margin-top: -6px;
}

.user-wrapper .user .userinfo .title{
  font-size: 12px;
  font-weight: 300;
  line-height: 17px;
}

 .user-wrapper .user{
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}
 .user-wrapper .user .img-circle{
  width: 61px;
  height: 61px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  margin-left: 10px;
}

.img-circle{
height:35px;
 width:40px;
 border-radius: 60%;
margin-top: 0px;
 margin-left: 650px;
    object-position:center right;


}

ul{
  float:right;
}

.notif{
  height: 45px;
  width: 50px;
  position: absolute;
  display: inline-block;
  margin-left: 600px;
  margin-top: -2px;

}

.navbar .nav{
  height:0;
  margin-left: 250px;

}

@media (min-width: 768px)
{
.navbar-nav{
  float:right;
  margin:0;
}
}



.form-controls{
  margin-top: 50px;
  margin-left: 600px;
}

.fa-search{
  margin-top: -10px;


}

#searchBar{
width: 400px;
margin-top: 5px;
border: 1px solid #e7e7e7;
 border-radius: 7px 7px 7px 7px;
 margin-left: 10px;
 background-color: #fcfbff;
 }


.navbar .navbar-form{
  margin-top: 15px;
  margin-left: 160px;
}

.navbar .navbar-form .input-group-addon{
  border: 0;
  background-color: transparent;
  font-size: 16px;
  padding: 0 7px;
  border-radius: 4px 0 0 4px;
  width: auto;
}

.navbar i{
  font-size: 18px;
}

.navbar .navbar-form .form-controls{
  padding: 8px 6px;
  height: 40px;
  border-radius: 0;
  border: 0;
  font-size: 16px;
  line-height: 1.5;
  display:inline-block;
  width: 100%;
  vertical-align: middle;
  box-shadow: none;
  margin-top: -8px;
  margin-left: -10px;
}

.nav{
  position:relative;
  display: block;
}

.navbar .navbar-nav >  a{
  padding: 28px 25px;
  color: #25265F;
  font-family: "Nunito";
  font-size: 12px;
  font-weight: 600;
  line-height: 17px;
}

#searchIcon{
  margin-left: -60px;

}

.presentation{
  margin-top: -13px;
}

