.user-form-card{
    background-color:#fcfbff;
    width: 35em;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 7px 7px 7px 7px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.4)  ;
    -webkit-box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.4)  ;
    -moz-box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.4)  ;
}

.user-form-card-content{
    padding: 30px 50px;
}

.user-form-header{
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    color: rgb(83, 198, 186);
}

.user-form-group{
	display: inline-block;
    height:70px;
    padding: 20px 85px;
	margin: auto;
    text-align: left;
    font-size: 17px;
    color: #5063b8;
    font-weight: 400;
    width: 100%;
    line-height: 30px;
	
}

#userInputTextUsername{
    display: inline-block;
    margin-left: 25px;
	width: 180px;
    padding: 1px 5px;
    border: 1px solid #D3D3D3;
    border-radius: 4px;
    color: #D3D3D3;
    font-size: 16px;
    line-height: 30px;
}

#userInputTextPassword{
    display: inline-block;
    margin-left: 28px;
	width: 180px;
    padding: 1px 5px;
    border: 1px solid #D3D3D3;
    border-radius: 4px;
    color: #D3D3D3;
    font-size: 16px;
    line-height: 30px;

}

#userInputTextEmail{
    display: inline-block;
    margin-left: 61px;
	width: 180px;
    padding: 1px 5px;
    border: 1px solid #D3D3D3;
    border-radius: 4px;
    color: #D3D3D3;
    font-size: 16px;
    line-height: 30px;
}

/*#inputTextBucket{*/
    /*margin-left: 20px;*/
	/*width:50%;*/
/*}*/

#userInputTextImgUrl{
    display: inline-block;
    margin-left: 17px;
	width: 180px;
    padding: 1px 5px;
    border: 1px solid #D3D3D3;
    border-radius: 4px;
    color: #D3D3D3;
    font-size: 16px;
    line-height: 30px;
}

#userInputSelectRegion{
    display: inline-block;
    margin-left: 48px;
	width: 180px;
    height: 30px;
    background-color: #ffffff;
    border: 1px solid #D3D3D3;
    border-radius: 3px;
    color: #808080;
    font-size: 16px;
    line-height: 30px;
}

.user-form-btn{
    padding: 10px 50px;
    background-color: #ffffff;
    border: 1px solid #5063b8;
    border-radius: 3px;
    color: #5063b8;
    margin: 30px auto 30px 155px;
    font-size: 18px
}

